@font-face {
    font-family: 'distant_galaxyregular';
    src: url('distgrg_-webfont.woff2') format('woff2'),
         url('distgrg_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Helevtica, Arial, sans-serif;
  line-height: 1.618;
  color: #ccc;
  background-color: #333;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  background-image: url(background.gif);
  background-attachment: fixed;
}

a,
a:link,
a:hover,
a:visited {
  color: #e8e770;
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
  font-family: distant_galaxyregular;
  text-shadow: -1px -1px 0 rgba(0, 0, 0,1),
                1px 1px 0 rgba(255, 255, 255, 0.5);
}

button {
  color: #e8e770;
  background-color: #000;
  border: 1px solid #e8e770;
  border-radius: 3px;
  padding: 0.2em 0.4em;
}

header,
footer {
  color: #333;
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid #e8e770;
}

body>header,
body>footer,
main>nav {
  padding-left: 1rem;
  padding-right: 1rem;
}

body>header,
body>footer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

body>header,
body>header ul {
  display: flex;
}
body>header {
  min-height: 3em;
}
body>header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body>header li {
  padding: 0.2em 0.4em;

}
body>header a,
body>header a:link,
body>header a:active,
body>header a:hover {
  color: #000;
}



main {
  flex-grow: 1;
  overflow: auto;
}

main > .cards {
  display: flex;
  flex-wrap: wrap;
}

body>footer {
  border-top: 1px solid #e8e770;
}

.cards>section {
  width: calc(50% - 2rem);
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #e8e770;
  border-radius: 3px;
}


.cards>section>header,
.cards>section>div {
  padding: 0 1rem;
}

.cards>section>header {
  border-bottom: 1px solid #e8e770;
}
.cards>section .gender {
  color: #1c3952;
}
section ul {
  padding: 0;
}

section li {
  display: flex;
  padding: 0.2rem 0;
}

section .label {
  flex-grow: 0;
  width: 30%;
}

section .value {
  color: #7ba5ca;
}

main > nav {
  text-align: center;
  padding: 1em 0;
}

main > nav > button {
  margin: 0 1em;
}
